@font-face {
    font-family: 'RobotoRegular';
    src: url('/fonts/Roboto.ttf') format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoBold';
    src: url('/fonts/Robotobold.ttf') format("truetype");
    font-weight: 900;
}
@font-face {
    font-family: 'RobotoLight';
    src: url('/fonts/Robotolight.ttf') format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoMedium';
    src: url('/fonts/Robotomedium.ttf') format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto_Bold';
    src: url('/fonts/Roboto_bold.ttf') format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}
