// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$font_family_basic: Arial, Helvetica, FreeSans, "Liberation Sans",
"Nimbus Sans L", sans-serif;
$font_family_roboto_regular: "RobotoRegular", $font_family_basic;
$font_family_roboto_bold: "RobotoBold", $font_family_basic;
$font_family_roboto_light: "RobotoLight", $font_family_basic;
$font_family_roboto_medium: "RobotoMedium", $font_family_basic;
