.flex{
    display: flex;
    align-items: center;
    column-gap: 6px;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.w-full{
    width: 100%;
}
.w-8{
    width: 80%;
}
.w-5{
    width: 50%;
}
.w-3{
    width: 30%;
}
.w-25{
    width: 25%;
}
.w-1{
    width: 10%;
}
.h-l{
    height: 50px;
}
.h-t{
    height: 45px;
}
.h-m{
    height: 40px;
}

