@import "./variables";


// Table
.content-header{
    color: $col_item_head;
    margin-top: 40px;
    .container-fluid{
        padding: 0 16px;
        .row{
            display: flex;
            width: 100%;
            margin: 0;
            div{
                width: auto;
                display: flex;
                align-items: center;
            }
            .col-sm-6{
                margin-right: auto;
            }
            .col-sm-2{
                //margin-left: auto;
            }
            .view-form{
                flex-direction: row;
                align-items: center;
                column-gap: 10px;
                padding: 0;
                label{
                    flex-shrink: 0;
                }
            }
            .col-sm-6{
                padding: 0;
            }
            .action-item{
                position: absolute;
                right: 12px;
                top: 12px;
                padding: 0;
                .btn{
                    background-color: $col_blue_pr;
                    border: none;
                    color: white;
                    &:hover{
                        background-color: $col_blue_pr_hover;
                    }
                }
                .btn-primary{
                    font-size: 18px;
                    //line-height: 110%;
                    padding: 6px 8px 2px;
                }
            }


        }
    }


}
.edit-container{
    margin-top: 0;
    h1{
        font-size: 24px;
    }
}

.content, .container{
    background-color: $col_bg;
    .action-item{
        width: 100px;
    }
    .card{
        border: 1px solid $col_border;
        background-color: $col_bg;
        color: $col_item;
    }
    .card-body{
        label{
            font-weight: 500;
            color: $col_item_head;
        }
        p{
            display: block;
            padding-left: 6px;
            margin-top: 6px;
        }
    }
    .card-items{
        padding: 20px;
        border: 1px solid $col_border;
        border-top: none;
        --bs-gutter-x: 0;

    }
    .search-form{
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 10px;
        label{
            padding-left: 4px;
        }
        .butt-action{
            margin-left: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 8px;
            text-align: center;
        }
    }
    form{
        .card-body{
            .row{
                display: flex;
                flex-direction: column;
                row-gap: 40px;
            }
        }
        .row{
            align-items: center;
            justify-content: center;
        }
        .form-group{
            display: flex;
            align-items: center;
            column-gap: 6px;
            width: 100%;

        }
        label{
            width: 130px;
        }
        .form-control{
            background-color: $col_bg_input;
            color: $col_item;
            padding: 0 20px;
            height: 40px;
            border-radius: 4px;
            border: 1px solid $col_border;
            outline: none;
            width: 100% !important;
            //max-width: 930px;
            &:disabled{
                opacity: 0.6;
            }
        }
        .form-check{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            column-gap: 6px;
            padding: 0;
        }
        .login-check{
            justify-content: start;
        }
        .form-check-input{
            margin: 0;
            height: 30px;
            width: 30px;
            border: 1px solid $col_border;
            background-color: $col_bg_input;
            &:checked{
                background-color: $col_blue_pr;
            }
            &:focus{
                box-shadow: none;
            }
        }
        .card-footer{
            display: flex;
            justify-content: end;
            column-gap: 10px;
            font-size: 14px;
        }
    }
    .table-responsive, .table {
        background-color: $col_bg ;
        th, td{
            background-color: $col_bg ;
            color: $col_item_head ;
            border-color: $col_border;
            vertical-align: middle;
            text-align: center;
        }
        td{
            color: $col_item;
        }
        .status_active, .status_enable{
            background: #27ff68;
            display: flex;
            width: min-content;
            margin: 0 auto;
            padding: 4px 10px;
            border-radius: 4px;
        }
        .status_enable{
            background: #ff5b5b;
        }
        .butt-show{
            //background-color: $col_blue_light;
            color: $col_item;
            line-height: 14px;
            font-size: 23px;
            background: none;
            &:hover{
                color: white;
                background-color: $col_blue_light_hover;
            }
        }
        .butt-edit{
            color: $col_item;
            line-height: 14px;
            font-size: 21px;
            background: none;
            &:hover{
                color: white;
                background-color: $col_blue_pr_hover;
            }
        }
        .btn-danger{
            color: $col_item;
            line-height: 14px;
            font-size: 21px;
            background: none;
            border: none;
            &:hover{
                color: white;
                background-color: $col_red_hover;
            }
        }
    }
    .card-footer{
        background-color: $col_bg ;
        border-color: $col_border;
        color: $col_item;
    }

}

.table-data-items{
    .table-items{
        width: 100%;
        border-bottom: 1px solid $col_border;
    }
    .table-item{
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $col_border;
        border-left: 1px solid $col_border;
    }
    .item{
        border-right: 1px solid $col_border;
        //border-left: 1px solid $col_border;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        .icon{
            font-size: 16px;

            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            width: 30px;
            //padding-top: 3px;
            margin: 0 auto ;
            border-radius: 6px;
            color: black;
            cursor: pointer;
            i{
                width: min-content;
                height: min-content;
            }
        }
    }
    .add-item{
        display: flex;
        .icon{
            background: $col_blue_light;
            &:hover{
                background: $col_blue_light_hover;
            }
        }
    }
    .rm-item{
        display: flex;
        .icon {
            background: $col_red;
            &:hover {
                background: $col_red_hover;
            }
        }
    }
}
