@import "./variables";


// Table
.content-header{
    color: $col_item_head;
    background: $col_bg_block;
    padding: 12px 0;
    .container-fluid{
        padding: 0 30px;
        .row{
            display: flex;
            width: 100%;
            margin: 0 !important;
            div{
                width: auto;
                display: flex;
                align-items: center;
            }
            .col-sm-6{
                margin-right: auto;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                text-align: start;
                .title-head{
                    font-size: 24px;
                    margin: 0 0 8px 0;
                    font-weight: 400;
                }
                .count-elements{

                }
            }
            .col-sm-2{
                //margin-left: auto;
            }
            .view-form{
                flex-direction: row;
                align-items: center;
                column-gap: 10px;
                padding: 0;
                label{
                    flex-shrink: 0;
                }
            }
            .col-sm-6{
                padding: 0;
            }
            .action-item{
                //position: absolute;
                //right: 12px;
                //top: 12px;
                padding: 0;
                margin-left: 90px;
                flex-shrink: 0;
                display: flex;
                gap: 14px;
                form{
                    padding: 0;
                }
                .btn{
                    background-color: $col_blue_pr;
                    border: none;
                    color: white;
                    &:hover{
                        background-color: $col_blue_pr_hover;
                    }
                }
                .btn-primary{
                    font-size: 18px;
                    //line-height: 110%;
                    background: #81A4FF;
                    padding: 6px 8px 2px;
                }
                .btn-copy{
                    background: $col_blue_light;
                    &:hover{
                        background: $col_blue_light_hover;
                    }
                }
                .btn-deleted{
                    background: $col_red;
                    &:hover{
                        background: $col_red_hover;
                    }
                }
            }


        }
    }
}

.edit-container{
    margin-top: 0;
    h1{
        font-size: 24px;
    }
}

.content, .container{
    background-color: $col_bg;
    padding: 40px 30px 30px !important;

    .action-item{
        width: 100px;
    }

    .card{
        //border: 1px solid $col_border;
        border: none;
        overflow: hidden;
        border-radius: 14px;
        background-color: $col_bg;
        color: $col_item;
    }

    .card-body{
        label{
            font-weight: 500;
            color: $col_item_head;
        }
        p{
            display: block;
            padding-left: 6px;
            margin-top: 6px;
        }
    }

    .card-items{
        padding: 20px;
        border: 1px solid $col_border;
        border-top: none;
        --bs-gutter-x: 0;

    }

    .search-form{
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 10px;

        label{
            padding-left: 4px;
        }
        .butt-action{
            margin-left: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 8px;
            text-align: center;
        }
    }

    .search-name-input{
        text-align: start;
        font-weight: 400;
        margin-bottom: 8px;
    }

    .butt-action-block{
        display: flex;
        column-gap: 14px;
        width: 150px;
        //height: 80px;
        font-weight: 400;
        .action-block-search{
            width: 113px;
        }
        .search-change-butt{
            padding: 6px 0;
            width: 100%;
            font-weight: 400;
            background: #81A4FF;
        }
        .cast-butt{
            border: 1px solid #81A4FF;
            display: flex;
            justify-content: center;
            border-radius: 8px;
            margin-top: 4px;
            color: #81A4FF;
            width: 100%;
            padding: 6px 0;
        }
    }

    form{
        .card-body{
            .row{
                display: flex;
                flex-direction: column;
                row-gap: 40px;
            }
        }
        .row{
            align-items: center;
            justify-content: center;
        }
        .form-group{
            display: flex;
            align-items: center;
            column-gap: 6px;
            width: 100%;

        }
        label{
            width: 130px;
        }
        .form-control{
            background-color: $col_bg_input;
            color: $col_item;
            padding: 0 20px;
            height: 40px;
            border-radius: 4px;
            border: 1px solid $col_border;
            outline: none;
            width: 100% !important;
            //max-width: 930px;
            &:disabled{
                opacity: 0.6;
            }
        }
        .form-check{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            column-gap: 6px;
            padding: 0;
        }
        .login-check{
            justify-content: start;
        }
        .form-check-input{
            margin: 0;
            height: 30px;
            width: 30px;
            border: 1px solid $col_border;
            background-color: $col_bg_input;
            &:checked{
                background-color: $col_blue_pr;
            }
            &:focus{
                box-shadow: none;
            }
        }
        .card-footer{
            display: flex;
            justify-content: end;
            column-gap: 10px;
            font-size: 14px;
        }
    }

    .table-responsive, .table {
        background-color: $col_bg ;
        thead{
            background: $col_bg_block;
            th{
                background: $col_bg_block;
                padding: 20px;
            }
        }
        tbody{
            border: 1px solid $col_border;
            border-top: none;
            border-radius: 14px;
        }
        th, td{
            background-color: $col_bg ;
            color: $col_item_head ;
            border-color: $col_border;
            vertical-align: middle;
            text-align: start;
            padding-left: 20px;
        }
        tr{
            border-style: none;
            border-width: 0;
            th, td{
                border-right-style: solid;
                border-right-width: 1px;
            }
            th:last-child, td:last-child{
                border-right-style: none;
                border-right-width: 0;
            }
        }
        tr:last-child{
            th, td {
                border-bottom-style: none;
                border-bottom-width: 0;
            }
        }

        td{
            color: $col_item;
        }
        .status_active, .status_enable{
            background: #27ff68;
            display: flex;
            width: min-content;
            margin: 0;
            padding: 4px 10px;
            border-radius: 4px;
        }
        .status_enable{
            background: #ff5b5b;
        }
        .butt-show{
            //background-color: $col_blue_light;
            color: $col_item;
            line-height: 14px;
            font-size: 23px;
            background: none;
            &:hover{
                color: white;
                background-color: $col_blue_light_hover;
            }
        }
        .butt-edit{
            color: $col_item;
            line-height: 14px;
            font-size: 21px;
            background: none;
            &:hover{
                color: white;
                background-color: $col_blue_pr_hover;
            }
        }
        .btn-danger{
            color: $col_item;
            line-height: 14px;
            font-size: 21px;
            background: none;
            border: none;
            &:hover{
                color: white;
                background-color: $col_red_hover;
            }
        }
    }

    .card-footer{
        background-color: $col_bg ;
        border: none;
        color: $col_item;

        .active{
            .page-link{
                background-color: #81A4FF;
                border-color: #81A4FF;
            }
        }


    }

}

.table-data-items{
    .table-items{
        width: 100%;
        border-bottom: 1px solid $col_border;
    }
    .table-item{
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $col_border;
        border-left: 1px solid $col_border;
    }
    .item{
        border-right: 1px solid $col_border;
        //border-left: 1px solid $col_border;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        .icon{
            font-size: 16px;

            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            width: 30px;
            //padding-top: 3px;
            margin: 0 auto ;
            border-radius: 6px;
            color: black;
            cursor: pointer;
            i{
                width: min-content;
                height: min-content;
            }
        }
    }
    .add-item{
        display: flex;
        .icon{
            background: $col_blue_light;
            &:hover{
                background: $col_blue_light_hover;
            }
        }
    }
    .rm-item{
        display: flex;
        .icon {
            background: $col_red;
            &:hover {
                background: $col_red_hover;
            }
        }
    }
}
